<main class="min-h-screen flex mt-10 justify-center bg-slate-950">
  <div class="w-full max-w-md">
    <div class="bg-slate-900 border border-slate-800 rounded-xl shadow-xl overflow-hidden">
      <div class="px-6 py-5 border-b border-slate-800">
        <h1 class="text-xl font-semibold text-slate-200">Reset Password</h1>
        <p class="text-sm text-slate-500">Set your new password</p>
      </div>

      <div class="p-6 flex flex-col gap-4">
        <div>
          <input
            type="password"
            [(ngModel)]="password"
            placeholder="Enter new password"
            class="w-full px-4 py-2 rounded-md bg-slate-800 border border-slate-700 text-sm focus:outline-none focus:ring-2 focus:ring-emerald-600"
          />
        </div>

        <button
          (click)="updatePassword()"
          class="mt-2 w-full py-2 rounded-md bg-emerald-600 hover:bg-emerald-500 transition font-medium text-sm"
        >
          Update password
        </button>
      </div>
    </div>
  </div>
</main>
