<div class="relative">
  <input
    type="text"
    [formControl]="control"
    (input)="onInput($event)"
    placeholder="City name"
    class="w-full bg-background-dark border-border-dark rounded-lg text-slate-200 px-3 py-2"
  />

  @if (filteredCities().length) {
    <div
      class="absolute w-full bg-surface-dark border border-border-dark rounded mt-1 z-10 max-h-60 overflow-auto"
    >
      @for (city of filteredCities(); track city.city) {
        <div class="px-3 py-2 hover:bg-background-dark cursor-pointer" (click)="selectCity(city)">
          {{ city.city }} ({{ city.province }})
        </div>
      }
    </div>
  }
</div>
