/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body {
  font-family: 'Spline Sans', sans-serif;
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

input, textarea, select {
  border-color: #2A2A35 !important;
  border-radius: 0.75rem !important;
}

input:focus, textarea:focus, select:focus {
  border-color: #C084FC !important;
  box-shadow: 0 0 0 1px #C084FC33 !important;
  outline: none !important;
}